body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-left{
  text-align: left;
}

.cursor-pointer{
  cursor: pointer;
}

.object-fit-contain{
  object-fit: contain;
}

.top-buffer {
  margin-top: 70px;
}

.height-225{
  height: 225px;
}